streamlit
google_generativeai
python-dotenv
pypdf
langchain
langchain_community
langchain_huggingface
langchain_text_splitters
faiss_cpu
sentence_transformers
streamlit_mic_recorder 
torchvision
gTTS 
