streamlit
google-genai
python-dotenv
pypdf
langchain
langchain_community
langchain_huggingface
langchain_text_splitters
faiss-cpu
sentence-transformers
streamlit-mic-recorder
gTTS
torch
torchvision
transformers
